<h1>Create a new session</h1>

<%= form_for @session do |f| %>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>
  <br><br>
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time %>
  <br><br>
  <%= f.label :distance %>
  <%= f.text_field :distance %>
  <br><br>
  <%= f.submit %>
<% end %>