<h1>Create a new session</h1>

<% if @session.errors.any? %>
  <div id="error_explanation">

    <%= "#{pluralize(@session.errors.count, "error")} prevented you from creating this session: "%>
    
    <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<%= form_for @session do |f| %>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>
  <br><br>
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time %>
  <br><br>
  <%= f.label :distance %>
  <%= f.text_field :distance %>
  <br><br>
  <%= f.submit %>
<% end %>