<h1>All Users</h1>

<h4>Add Partners to Session:</h4>
   <%= form_tag(users_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search])%>
      <%= submit_tag ("Search")%>
    <%end%>

<ul>
  <% @users.each do |user| %>
    <div><%= link_to user.name, user_path(user) %> <%= link_to "Add Runner to this Session", users_sessions_path(user.id), method: :post%> </div>
  <% end %>
</ul>
