<div class="user_show_header">
  <h1>Details for <%= @user.full_name %></h1>
</div>

<div class="row">
  <div class="container user_stats">
    <h2>Stats</h2>
    <h4>Total Distance Run:</h4>
    <p><%= "#{@user.total_distance} Miles"%></p>
    <h4>Total Time Run: </h4>
    <p><%= @user.display_total_duration%></p>
    <h4>Average Pace: </h4>
    <p><%= @user.average_pace%>/ mile</p>
    <h4>Number of Sessions:</h4>
    <p><%= "#{@user.sessions.count} Practice Sessions"%></p>
  </div>

  
  <div class="container user_sessions">
    <h2><%= @user.full_name %>'s Sessions</h2>
    
    <ul>
      <% @user.sessions.each do |session| %>
        <div><%= link_to "#{session.start_time.strftime("%A, %B %d, %Y")} beginning at #{session.start_time.strftime("%I:%M%p")}", session_path(session) %> 
        <%if current_user.id == @user.id%>
          <button type="button" class="btn btn-outline-danger"><%= link_to "Remove this Session from My Sessions", users_session_path(@user, session), method: :delete%></button>
        <%end%>
        </div>
      <% end %>
    </ul>
  
    <%if current_user.id == @user.id%>
      <button type="button" class="btn btn-warning"><%= link_to "Create a new session", new_session_path %></button>
    <%end%>
  </div>
</div>

<div class="row">
    <div class="container friends">
    <h2>Here are your Run Buddies!</h2>
    <% @friends.each do |friend|%>
    <li><%= link_to friend.full_name, user_path(friend)%></li>
    <%end%>
  </div>
  </div>

<div class="row">
  <div class="container eligible_events">
    <h2>Events Eligible For: </h2>
  
    <%@events.each do |event|%>
      <li><%= link_to event.name, event_path(event)%></li>
    <%end%>
  </div>
  
  <div class="container registered_events">
    <h2>Events Registered For: </h2>
  
    <%@registered.each do |event|%>
      <li><%= link_to event.name, event_path(event)%></li>
    <%end%>
  </div>
</div>
