<h1>Login</h1>

<% if notice %>
  <%= notice %>
<% end %>

<%= form_tag '/login' do%>
  <%= label :name, "Name" %>
  <%= text_field_tag :name %>
  <%= label :password, "Password" %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %>