<div id="login_page">

  <div id="login-form">
  <div id="title">Run Buddy</div>
   <h1>Login or Sign Up</h1>
    
    <%= form_tag '/login' do%>
    <%= label :username, "Username"%>
    <%= text_field_tag :username %><br><br>

    <%= label :password, "Password" %>
    <%= password_field_tag :password %><br><br>
    
    <%= submit_tag "Login" %> <br><br>
    <%= link_to "Create an account",  new_user_path%>
    <% end %>
  </div>
  
</div>
